<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <header class="header" th:fragment="header">
        <div class="header-logo">
            <a href="/"><i class="fas fa-headphones-alt"></i> Soundscape</a>
        </div>
        <nav class="nav-links">
            <a href="/posts"><i class="fas fa-stream"></i> Feed</a>
            <a href="/messages"><i class="fas fa-envelope"></i> Messages</a>
            <a href="/music-analysis"><i class="fas fa-chart-line"></i> Music Analysis</a>
            <a href="/profile"><i class="fas fa-user"></i> Profile</a>
            <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </nav>
    </header>
</body>
</html>